<section class="relative w-full bg-white cursor-pointer" routerLink="/product">
  <owl-carousel-o [options]="mainOption">
    <ng-template carouselSlide>
      <div class="relative w-full">
        <img
          src="/images/img1.avif"
          alt="Special Offer"
          class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] "
        />
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="relative w-full">
        <img
          src="/images/img2.avif"
          alt="New Arrivals"
          class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] "
        />
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="relative w-full">
        <img
          src="/images/img5.avif"
          alt="New Arrivals"
          class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] "
        />
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="relative w-full">
        <img
          src="/images/img6.avif"
          alt="New Arrivals"
          class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] "
        />
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="relative w-full">
        <img
          src="/images/img7.avif"
          alt="New Arrivals"
          class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] "
        />
      </div>
    </ng-template>
     <ng-template carouselSlide>
      <div class="relative w-full">
        <img
          src="/images/im1.png"
          alt="Special Offer"
          class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] "
        />
      </div>
    </ng-template> <ng-template carouselSlide>
      <div class="relative w-full">
        <img
          src="/images/im2.avif"
          alt="Special Offer"
          class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] "
        />
      </div>
    </ng-template> <ng-template carouselSlide>
      <div class="relative w-full">
        <img
          src="/images/im3.avif"
          alt="Special Offer"
          class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] "
        />
      </div>
    </ng-template> <ng-template carouselSlide>
      <div class="relative w-full">
        <img
          src="/images/im4.avif"
          alt="Special Offer"
          class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] "
        />
      </div>
    </ng-template> <ng-template carouselSlide>
      <div class="relative w-full">
        <img
          src="/images/im5.avif"
          alt="Special Offer"
          class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] "
        />
      </div>
    </ng-template> <ng-template carouselSlide>
      <div class="relative w-full">
        <img
          src="/images/im6.avif"
          alt="Special Offer"
          class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] "
        />
      </div>
    </ng-template>
     <ng-template carouselSlide>
      <div class="relative w-full">
        <img
          src="/images/im7.avif"
          alt="Special Offer"
          class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] "
        />
      </div>
    </ng-template>
     <ng-template carouselSlide>
      <div class="relative w-full">
        <img
          src="/images/im8.jpg"
          alt="Special Offer"
          class="w-full h-[40vh] sm:h-[50vh] md:h-[60vh] "
        />
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
